global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node_exporter'
    static_configs:
      - targets: ['node_exporter:9100']

  - job_name: 'blackbox'
    metrics_path: /probe
    params:
      module: [http_health]
    static_configs:
      - targets:
          - https://tradingenergiarz.com/api/v2/health
          - https://tradingenergiarz.com/html-to-img/health/readiness
          - https://tradingenergiarz.com/html-to-img/health/liveness
          - https://tradingenergiarz.com/airflow/health
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: blackbox:9115
