version: '3.9'

services:

  airflow-init:
    build:
      context: .
      args:
        GIT_USERNAME: ${GIT_USERNAME}
        GIT_TOKEN: ${GIT_TOKEN}
    user: "0:0"
    entrypoint: /bin/bash
    command: >
      -c "mkdir -p /sources/logs /sources/dags /sources/plugins &&
          chown -R ${AIRFLOW_UID:-50000}:0 /sources/{logs,dags,plugins} &&
          exec /entrypoint airflow version"
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: mysql+pymysql://${MYSQL_USER}:${MYSQL_PASSWORD}@172.31.14.62:3306/airflow
      AIRFLOW__CELERY__RESULT_BACKEND: db+mysql://${MYSQL_USER}:${MYSQL_PASSWORD}@172.31.14.62:3306/airflow
      AIRFLOW__CORE__FERNET_KEY: ''
      AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION: 'true'
      AIRFLOW__CORE__LOAD_EXAMPLES: 'false'
      AIRFLOW__API__AUTH_BACKENDS: 'airflow.api.auth.backend.basic_auth,airflow.api.auth.backend.session'
      AIRFLOW__SCHEDULER__ENABLE_HEALTH_CHECK: 'true'
      AIRFLOW__WEBSERVER__BASE_URL: 'http://localhost:8080/airflow'
      AIRFLOW__CORE__DEFAULT_TIMEZONE: 'America/Sao_Paulo'
      NEW_RELIC_INSERT_KEY: '7fbf1e391a7b4ca633fb6d9d176b810dFFFFNRAL'
      AIRFLOW__CORE__LOGGING_LEVEL: INFO
      _AIRFLOW_DB_MIGRATE: 'true'
      _AIRFLOW_WWW_USER_CREATE: 'true'
      _AIRFLOW_WWW_USER_USERNAME: ${WEB_USER}
      _AIRFLOW_WWW_USER_PASSWORD: ${WEB_PASSWORD}
      _PIP_ADDITIONAL_REQUIREMENTS: ''
    volumes:
      - ${AIRFLOW_PROJ_DIR:-.}:/sources

  airflow-web:
    build:
      context: .
      args:
        GIT_USERNAME: ${GIT_USERNAME}
        GIT_TOKEN: ${GIT_TOKEN}
    command: webserver
    user: "${AIRFLOW_UID:-50000}:0"
    ports:
      - "8080:8080"
    restart: always
    depends_on:
      - airflow-init
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: mysql+pymysql://${MYSQL_USER}:${MYSQL_PASSWORD}@172.31.14.62:3306/airflow
      AIRFLOW__CELERY__RESULT_BACKEND: db+mysql://${MYSQL_USER}:${MYSQL_PASSWORD}@172.31.14.62:3306/airflow
      AIRFLOW__CORE__FERNET_KEY: ''
      AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION: 'true'
      AIRFLOW__CORE__LOAD_EXAMPLES: 'false'
      AIRFLOW__API__AUTH_BACKENDS: 'airflow.api.auth.backend.basic_auth,airflow.api.auth.backend.session'
      AIRFLOW__SCHEDULER__ENABLE_HEALTH_CHECK: 'true'
      AIRFLOW__WEBSERVER__BASE_URL: 'http://localhost:8080/airflow'
      AIRFLOW__CORE__DEFAULT_TIMEZONE: 'America/Sao_Paulo'
      NEW_RELIC_INSERT_KEY: '7fbf1e391a7b4ca633fb6d9d176b810dFFFFNRAL'
      AIRFLOW__CORE__LOGGING_LEVEL: INFO
    volumes:
      - ${AIRFLOW_PROJ_DIR:-.}/dags:/opt/airflow/dags
      - ${AIRFLOW_PROJ_DIR:-.}/logs:/opt/airflow/logs
      - ${AIRFLOW_PROJ_DIR:-.}/config:/opt/airflow/config
      - ${AIRFLOW_PROJ_DIR:-.}/plugins:/opt/airflow/plugins
      - ${AIRFLOW_PROJ_DIR:-.}/airflow.cfg:/opt/airflow/airflow.cfg
      - /WX/WX2TB:/WX2TB
      - /WX/WX4TB:/WX4TB
      - /WX/SERVER_NW:/WX/SERVER_NW
      - /home/admin/Dropbox:/home/airflow/Dropbox
      - /home/admin/s3-drive:/home/airflow/s3-drive
      - /home/admin/.env:/home/airflow/.env
      - /home/admin/jose:/home/admin/jose

  airflow-scheduler:
    build:
      context: .
      args:
        GIT_USERNAME: ${GIT_USERNAME}
        GIT_TOKEN: ${GIT_TOKEN}
    command: scheduler
    user: "${AIRFLOW_UID:-50000}:0"
    restart: always
    depends_on:
      - airflow-init
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: mysql+pymysql://${MYSQL_USER}:${MYSQL_PASSWORD}@172.31.14.62:3306/airflow
      AIRFLOW__CELERY__RESULT_BACKEND: db+mysql://${MYSQL_USER}:${MYSQL_PASSWORD}@172.31.14.62:3306/airflow
      AIRFLOW__CORE__FERNET_KEY: ''
      AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION: 'true'
      AIRFLOW__CORE__LOAD_EXAMPLES: 'false'
      AIRFLOW__API__AUTH_BACKENDS: 'airflow.api.auth.backend.basic_auth,airflow.api.auth.backend.session'
      AIRFLOW__SCHEDULER__ENABLE_HEALTH_CHECK: 'true'
      AIRFLOW__WEBSERVER__BASE_URL: 'http://localhost:8080/airflow'
      AIRFLOW__CORE__DEFAULT_TIMEZONE: 'America/Sao_Paulo'
      NEW_RELIC_INSERT_KEY: '7fbf1e391a7b4ca633fb6d9d176b810dFFFFNRAL'
      AIRFLOW__CORE__LOGGING_LEVEL: INFO
    volumes:
      - ${AIRFLOW_PROJ_DIR:-.}/dags:/opt/airflow/dags
      - ${AIRFLOW_PROJ_DIR:-.}/logs:/opt/airflow/logs
      - ${AIRFLOW_PROJ_DIR:-.}/config:/opt/airflow/config
      - ${AIRFLOW_PROJ_DIR:-.}/plugins:/opt/airflow/plugins
      - ${AIRFLOW_PROJ_DIR:-.}/airflow.cfg:/opt/airflow/airflow.cfg
      - /WX/WX2TB:/WX2TB
      - /WX/WX4TB:/WX4TB
      - /WX/SERVER_NW:/WX/SERVER_NW
      - /home/admin/Dropbox:/home/airflow/Dropbox
      - /home/admin/s3-drive:/home/airflow/s3-drive
      - /home/admin/.env:/home/airflow/.env
      - /home/admin/jose:/home/admin/jose