aspose-words
dataframe-image
Flask-Bootstrap
Flask-Cors
Flask-WTF
Flask-Bcrypt
geos
mplfinance
netCDF4
openpyxl
pandas
pdf2image
pdfplumber
PyMySQL
requests
selenium
Shapely
html2image
Unidecode
urllib3
xarray
xlrd
loguru
workalendar
pydantic
certifi
cfinterface
charset-normalizer
idna
inewave
numpy
python-dateutil
python-dotenv
pytz
six
tzdata
Cartopy
git+https://github.com/wx-middle/libs-middle.git
