aspose-words
dataframe-image
Flask-Bootstrap
Flask-Cors
Flask-WTF
geos
mplfinance
netCDF4
openpyxl
pandas
pdf2image
pdfplumber
PyMySQL
pyshp
requests
selenium
Shapely
html2image
Unidecode
urllib3
xarray
xlrd
pymssql
Flask-Bcrypt
loguru
workalendar
pydantic
certifi
cfinterface
charset-normalizer
idna
inewave
numpy
python-dateutil
python-dotenv
pytz
six
tzdata
Cartopy
git+https://github.com/raizen-energy/raizen-power-trading-libs-middle.git