/* Estilos para o modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .modal-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0);
    padding: 20px;
    justify-content: center;
    align-items: center;
  }
  
  .custom-select {
    border: 1px solid #ccc;
    padding: 5px;
    max-height: 100px;
    overflow-y: auto;
    cursor: pointer;
}

.option {
    padding: 5px;
}

.option:hover {
    background-color: #f0f0f0;
}

.my-input {
    width: 100%;
    padding: 5px;
}



/* Estilize a lista de opções */
.options-container{
    display: none; /* Inicialmente, ocultar a lista de opções */
    text-align: center; /* Centralizar conteúdo horizontalmente */
    margin: 0 3px; /* Margem esquerda e direita de 3px */
}

.options-list{
    list-style: none;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    margin-left: 30px;
    margin-right: 30px;
}

#inputDataRef{
    /* margin-left: 30px;
    margin-right: 30px; */
    size: 30px;
}

/* Estilize os itens da lista */
.options-list li {
    padding: 5px;
    cursor: pointer;
    background-color: #f0f0f0;
    color: black;
}

/* Estilize o input */
.my-input{
    margin: 3px; /* Margem esquerda e direita de 3px */
}

/* Estilize os itens selecionados */
.selected-options{
    display: none; /* Inicialmente, ocultar a div de opções selecionadas */
    border: 1px solid #ccc;
    padding: 5px;
    background-color: #7adb7a	;
    color: black;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 3px;
}



#modelos {
    display: none;
}

  .selected-item {
    position: relative;
  }
  
  .selected-item::before {
    content: "●";
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 8px; /* Espaço entre a bolinha e o texto */
    font-size: 20px; /* Tamanho da bolinha */
    color: #7adb7a;
    /* color: #9c339b; */    
  }
  


/* ---------------------------------------------------

    SIDEBAR STYLE

----------------------------------------------------- */




.wrapper {

    display: flex;

    width: 100%;

    align-items: stretch;

}




#sidebar {


    min-width: 250px;

    max-width: 250px;

    background: #9c339b;    

    color: #fff;

}



#sidebar.active {

margin-left: -250px;

}

.btn-plotar,.btn-limpar{
    display: block;
	width: 150px; /* Defina a largura desejada */
    height: 30px; /* Defina a altura desejada */
    font-size: 15px; /* Defina o tamanho da fonte desejado */
    justify-content: center;
    align-items: center;
    text-align: center;
    

}

.btn-Limpar,.btn-limparDessem,.btn-limparDecomp{
    background-color: rgb(233, 98, 98);
}

.btn-limparDessem{
    display: block;
	width: 150px; /* Defina a largura desejada */
    height: 38px; /* Defina a altura desejada */
    font-size: 15px; /* Defina o tamanho da fonte desejado */
    justify-content: center;
    align-items: center;
    text-align: center;
    

}

.btn-list{
    display: block;
	width: 150px; /* Defina a largura desejada */
    height: 30px; /* Defina a altura desejada */
    font-size: 15px; /* Defina o tamanho da fonte desejado */
    justify-content: center;
    align-items: center;
    text-align: center;

}

.btn-anos{
    /* display: block; */
	width: 70px; /* Defina a largura desejada */
    /* height: 25px; Defina a altura desejada */
    font-size: 12px; /* Defina o tamanho da fonte desejado */
    justify-content: center;
    align-items: center;
    text-align: center;

}

#btnDessem, #btnNewave, #btnDecomp{
    background-color: #7adb7a;
}

/* ---------------------------------------------------

    CONTENT STYLE

----------------------------------------------------- */

#content {

    width: 100%;

    padding: 20px;

    min-height: 100vh;

    transition: all 0.3s;

    text-align: center;


  }

