
.lista-close {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.lista-close ul li {
  /*border: 1px solid #ddd;*/
  margin-top: -1px; 
  /*background-color: #f6f6f6;*/
  padding: 12px;
  text-decoration: none;
  /*font-size: 18px;*/
  /*color: black;*/
  display: block;
  position: relative;
}

.lista-close ul li:hover {
  background-color: #567070;
}

/* Style the close button (span) */
.close {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0%;
  padding: 12px 16px;
  transform: translate(0%, -50%);
}

/*.close:hover {background: #bbb;}*/