.range-slider__thumb {
    width: 4px!important;
    height: 20px !important;
    border-radius: 0!important;
    }

.range-slider__range{
    min-width: 2px;
    cursor: grab;
}

.range-slider__range::after {
content: '';
position: absolute;
top: 100%;
left: 0;
width: 100%;
height: 20px;
background-color: transparent;
cursor: grab;
}