body {
	line-height: 1.5;
	font-size: 1rem;
}

.table td, .table th {
	padding: .1rem;
}

.tableBBCE{
    max-width:800px;
    margin:0 auto;/*make it centered*/
    /*float:left;*/
}

div.tableBBCE table thead tr th{
	padding: .1rem;
	/*height: 12px;*/
}

div.tableBBCE table thead tr th{
	padding: .1rem;
	text-align: center;
}

div.tableBBCE table tbody tr td{
	font-weight: 500;
	text-align: center;
	color: #ff3333;
}

div.tableBBCE table tbody tr td.melhorOpt{
	color: green;
}

div.tableBBCE table tbody tr td.wxOpt{
	/*na bbce é amarela*/
	color: #ae2dbd;
}

div.tableBBCE table tbody tr td.wxOrdem{
	/*na bbce é branca*/
	color: blue;
}

div.tableBBCE table tbody tr td.idProd{
	/*color: #94bacd;*/
	color: black;
	max-width: 175px;
}



/*cor do spinner de loading*/
.btn.spinner_loading.wx_cor{
    background: #6f9495ff;
    border-color: #6f9495ff;
}


/* Toasts */
.toast-header.alerta{
    background-color: #ff000061;
    color: white;
}

.toast-body.alerta{
    background-color: #d301012e;
    color: #645555;
}


.toast-header.confirmacao{
    background-color: #13913994;
    color: white;
}

.toast-body.confirmacao{
    background-color: #1db94c42;
    color: #645555;
}