body {
  font-size: .875rem;
  /*background: #b9b9b9;*/
  /*padding-top: 20px;*/
}

/*Utilizado para centralizar conteudos de div*/
.center {
  margin: auto;
}

/*.navbar-brand {
  height: 5%;
  padding: 15px;
  width: auto;
}*/

.chart-container {
  position: relative;
  margin: auto;
  height: 90vh;
  width: 90vw;
}

/*table {
    table-layout: fixed;
    word-wrap: break-word;
}*/

.table-responsive .table-cenarios td{
  text-align: center;
  /*width:  10px;*/
}

.buttonIconsPers{
    font-size:130px;
}

.carousel-item + img{
  /*height: 10vh;*/
}

.filterButton {
    width: 50px !important;
}


.dropdownFcf {
    width: 365px !important;
}

.dropdownYear{
    width: 80px !important;
}

.dropdownMonth{
    width: 80px !important;
}

.dropdownRev{
    width: 80px !important;
}

.dropdownSmap{
    width: 80px !important;
}

table th {
   text-align: center; 
}

.dropdown-item{
  text-align: center !important;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Content
 */

/*[role="main"] {
  padding-top: 35px; 
}

@media (min-width: 768px) {
  [role="main"] {
    padding-top: 48px; 
  }
}*/

/*
 * Navbar
 */

.navbar-brand {
  padding: 0px;
  /*padding-top: .75rem;*/
  /*padding-bottom: .75rem;*/
  /*font-size: 1rem;*/
  /*background-color: rgba(0, 0, 0, .25);*/
  /*box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);*/
}

.navbar-brand>img {
  width: 100%;
  height: auto;
  max-width: 150px;
}


.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}



.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}



/* ---------------------------------------------------
    ICONES PERSONALIZADOS
----------------------------------------------------- */
/*https://www.iconfinder.com/search/?q=table&price=free*/
/*https://icomoon.io/app/#/select/font*/

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?grql4j');
  src:  url('fonts/icomoon.eot?grql4j#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?grql4j') format('truetype'),
    url('fonts/icomoon.woff?grql4j') format('woff'),
    url('fonts/icomoon.svg?grql4j#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-negociacoes_bbce:before {
  content: "\e900";
}
.icon-estudos_dessem:before {
  content: "\e901";
}
.icon-rdh_dash:before {
  content: "\e902";
}
.icon-cargaHoraria:before {
  content: "\e903";
}
.icon-monitoramentoPreciptacao:before {
  content: "\e904";
}
.icon-previvaz:before {
  content: "\e905";
}
.icon-enaSubmercado:before {
  content: "\e906";
}
.icon-enaBacia:before {
  content: "\e907";
}
.icon-monitoramentoHidrologico:before {
  content: "\e908";
}
.icon-monitoramentoPreciptacao1:before {
  content: "\e909";
}
.icon-resultadosProspec:before {
  content: "\e90a";
}
.icon-resultadosDecomp:before {
  content: "\e90b";
}
