@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    /*margin-bottom: 40px;*/
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.navbar-toggler:hover{
    background-color: #9c339b!important;
	border-color: #9c339b!important;
}

.bg-wx-original-escuro {
    color: #fff!important;
    background-color: #782777ad!important;
	border-color: #782777ad!important;
}

.bg-wx-original-medio {
    color: #fff!important;
    background-color: #782777!important;
	border-color: #782777!important;
}

.bg-wx-original-claro {
    color: #fff!important;
    background-color: #9c339b!important;
	border-color: #9c339b!important;
}
/* ---------------------------------------------------
    CUSTOM-CONTROL-INPUT
----------------------------------------------------- */
.custom-control-input:checked~.custom-control-label::before {
    border-color: #782777;
    background-color: #782777;
}
