version: '3'
services:
  nginx:
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./config/nginx:/etc/nginx
      - /etc/letsencrypt:/etc/letsencrypt:ro
      - ./${SSL_KEY}:/etc/ssl/private/ssl.key
      - ./${SSL_CRT}:/etc/ssl/certs/ssl.crt
    restart: always
