{% extends "base.html" %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/acompanhamento_ipdo.css') }}">

{% endblock %}

{% block title %}
<title>Acompanhamento IPDO</title>
{% endblock %}


{% block content %}

<div id='' class="wrapper">

	<nav id="sidebar" class="active ">

		<div class="sidebar-header">
			<h3>Menu</h3>
		</div>

		<div class="row ml-2 mr-2">
			<div class="form-group col-sm">
				<label class="mb-2 d-flex align-items-center">Selecione a data: </label>
				<input class="mb-2 d-flex align-items-center text-center form-control" id="inputDataRef" type="date"
					name="dataSelecionada">
			</div>
		</div>

		<div class="form-group col-sm">
			<input class="button ml-2 mb-2 btn btn-light" id="btn-1" type="button" value="Buscar" onclick="atualizaTabela()">
			<input class="button mb-2 ml-4 btn btn-light" id="btn-2" type="button" value="Limpar"
				onclick="erase(), window.location.reload()">
		</div>
	</nav>


	<div id="content">

		<div>
			<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between">
				<button type="button" id="sidebarCollapse" class="btn bg-wx-original-claro ">
					<i class="fas fa-align-left"></i>
					<span>Menu</span>
				</button>
				<button type="button" id="botaoPrevisao" class="btn bg-wx-original-claro">
					<i class="fas fa-align-left"></i>
					<span>Previsto</span>
				</button>
			</nav>
		</div>

		<div>
			<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-end">
				<button type="button" id="botaoNewave" class="btn bg-wx-original-claro">
					<i class="fas fa-align-left"></i>
					<span>Acomp. Newave</span>
				</button>
			</nav>
		</div>

		<div>
			<button id="botao-flutuante">^</button>
			<div class="alert alert-success" id="myDiv" role="alert" style="display: none; ">
				A data foi alterada para o sábado anterior da data informada, que é o início da semana elétrica.
			</div>
			<div class="d-flex justify-content-center">

				<div class="d-flex ml-1">
					<div id="tableContainerTabela1eTabela2">

						 <tbody class="custom-row"></tbody>

							</div>

							<table id="resultTable6" class="table col-2 mt-4 ml-4 table-bordered ">
								<caption id="titleTable6"></caption>
								<tbody class="custom-row">
								</tbody>
							</table>
						
							<table id="resultTable4" class="table col-2 mt-4  ml-4 table-bordered ">
								<caption id="titleTable4"></caption>
								<tbody class="custom-row">
								</tbody>
							</table>

								<table id="resultTable5" class="table col-2 mt-4  ml-4 table-bordered ">
									<caption id="titleTable5"></caption>
									<tbody class="custom-row">
									</tbody>
								</table>  
					</div>
				</div>

			</div>
		</div>
	</div>

	<div onload="atualizaTabela()">

	</div>

	{% endblock %}


	{% block scripts %}

	<!-- Importe seus novos JS aq -->

	<script src="{{ url_for('static', filename='js/acompanhamento_ipdo.js') }}"></script>



	{% endblock %}