{% extends "base.html" %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

{% endblock %}

{% block title %}
<title>ENA Diária</title>
{% endblock %}


{% block content %}

<div id="corpoPagina" class="wrapper ml-2 mr-2 mt-5">
    <div >
        
        <!-- <div class="container-pagina"> -->
            
            <input class=" mb-1 " id="inputDate" type="date" name="dataSelecionada">

            <select class=" ml-4 mb-1" name="dados" id="GranularidadeSelect">
                <option value="submercado">submercado</option>
                <option value="bacia">bacia</option>
            </select>
            
            <div class="nav nav-tabs nav-fill mt-3" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active col-2" id="nav-preliminar" data-toggle="tab" role="tab"  onclick=" change_data_table('tabelaRodadasPreliminares')">Preliminares</a>
                <a class="nav-item nav-link col-2" id="nav-rodadas" data-toggle="tab" role="tab"  onclick=" change_data_table('tabelaRodadas')" >Não Preliminares</a>
                <a class="col-2 btn btn-outline-secondary ml-auto" id="nav-all"  onclick="activeTable()">Selecionar Todos</a>
                <a class="col-2 btn btn-outline-secondary "  id="btn_run" >
                    <i id = "spin" class=""></i> Plot
                </a>
            </div>
        
            <div class="card rounded mt-3"></div>   
                
                <div class="text-center">
                    
                    <table class="table table-hover table-bordered" id="tabelaRodadas" >
                           
                    </table>

                    <table class="table table-hover table-bordered " id="tabelaRodadasPreliminares" >

                    </table>


                    <div id="filters" class=" ">
                        <input class="mb-1 ml-auto" type="checkbox" id="btnChuva" value="chuva">
                            <label class="form-check-label" for="btnChuva">
                                Chuva
                        </label>
                        <input class="mb-1 ml-auto" type="checkbox" id="btnRev" value="Revisão">
                            <label class="form-check-label" for="btnRev">
                                Revisões
                        </label>
                        
                    </div>
                    <div id = 'alertas'>
                  
                    </div>

                    <div id = "graphs" class=" text-center" >
                        
                        
                    </div> 
                    
                </div>

            </div>
 
    </div>
</div>


{% endblock %}


{% block scripts %}

<!-- Importe seus novos JS aq -->
<script src="{{ url_for('static', filename='js/colors.js') }}"></script>
<script src="{{ url_for('static', filename='js/chuva_ena_diaria.js') }}"></script>
<script src="/static/js/calculoDatasEletricas.js"></script>


{% endblock %}