{% extends "base.html" %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<link href="{{ url_for('static', filename='css/curvas_comparativo_carga__newave.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/modal.css') }}" rel="stylesheet">


{% endblock %}

{% block title %}
<title>COMPARATIVO CARGA NEWAVE</title>
{% endblock %}

{% block content %}

<nav class="navbar navbar-expand-lg bg-wx-original-claro ">
    <div class="container-fluid">
        <h3 class="navbar-brand mx-auto col-md-1">CARGA NEWAVE</h3>

        <button type="button" class="btn-sm bt-atualizar bg-wx-original-escuro mr-1" id="Atualizar">Recarregar <br> página</button>

    </div>

</nav>

<nav class="navbar navbar-expand-lg bg-cinza container-fluid " id="navbarNav">

    <!-- bg-wx-original-claro -->
    <div>
        <div class="row" id="navbarNav">

            <div class="col-md-1 centered">
                <button class="dropdown-toggle bg-wx-original-escuro btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    SELECIONE <br> DECK
                </button>
                <div class="dropdown-menu " aria-labelledby="dropdownMenuButton" id="dropdownMenu"> 
                    <a class="dropdown-item" href="#">
                        <!-- adicionando as dadas dos decks nesse local -->
                    </a>
                </div>
            </div>
        
            <div class="col-md-2 centered" >
                <div class=" btn-group ml-1 mb-1 col-sm" data-toggle="buttons">
                    <button class="btn-sm  bg-wx-original-escuro botaoCarga active" type="radio" name="options" data-value="carga_global" id="carga">
                        CARGA
                    </button>
                    <button class="btn-sm  bg-wx-original-escuro botaoCarga ml-3" type="radio" name="options" data-value="nao_Simulada" id="naoSimulada">
                        N.SIM
                    </button>
                    <button class="btn-sm  bg-wx-original-escuro botaoCarga ml-3" type="radio" name="options" data-value="carga_liquida" id="cargaLiquida">
                        CARGA LÍQUIDA
                    </button>
                </div>
            </div>

            <div class="col-md-4 centered ">
                <div class="btn-group-geracoes button-group geracoes-container" data-toggle="buttons">
                    <button class="btn-sm bg-wx-original-escuro botaoGeracoes" type="checkbox" data-value="vl_geracao_eol" id="geracaoEOL">
                        EOL
                    </button>
                    <button class="btn-sm bg-wx-original-escuro botaoGeracoes" type="checkbox" data-value="vl_geracao_pch" id="geracaoPCH">
                        PCH
                    </button>
                    <button class="btn-sm bg-wx-original-escuro botaoGeracoes" type="checkbox" data-value="vl_geracao_pct" id="geracaoPCT">
                        PCT
                    </button>
                    <button class="btn-sm bg-wx-original-escuro botaoGeracoes" type="checkbox" data-value="vl_geracao_ufv" id="geracaoUFV">
                        UFV
                    </button>
                    <button class="btn-sm bg-wx-original-escuro botaoGeracoes" type="checkbox" data-value="vl_geracao_eol_mmgd" id="geracaoEOLmmgd">
                        EOL MMGD
                    </button>
                    <button class="btn-sm bg-wx-original-escuro botaoGeracoes ml-2" type="checkbox" data-value="vl_geracao_pch_mmgd" id="geracaoPCHmmgd">
                        PCH MMGD
                    </button>
                    <button class="btn-sm bg-wx-original-escuro botaoGeracoes ml-2" type="checkbox" data-value="vl_geracao_pct_mmgd" id="geracaoPCTmmgd">
                        PCT MMGD
                    </button>
                    <button class="btn-sm bg-wx-original-escuro botaoGeracoes ml-2" type="checkbox" data-value="vl_geracao_ufv_mmgd" id="vl_geracao_ufv_mmgd">
                        UFV MMGD
                    </button>
                    
                </div>
            </div>
    
            <div class="col-md-2 centered">
                <div class="btn-group button-group d-flex row" data-toggle="buttons">
                    <button class="btn-sm   bg-wx-original-escuro botaoSubmercado ml-2 active" type="radio" name="options"  data-value="SE" id="sudeste">
                        SUDESTE
                    </button>
                    <button class="btn-sm   bg-wx-original-escuro botaoSubmercado ml-3 " type="radio" name="options"  data-value="S" id="sul">
                        SUL
                    </button>
                    <button class="btn-sm   bg-wx-original-escuro botaoSubmercado ml-3 " type="radio" name="options"  data-value="NE" id="nordeste">
                        NORDESTE
                    </button>
                    <button class="btn-sm   bg-wx-original-escuro botaoSubmercado ml-1 " type="radio" name="options"  data-value="N" id="norte">
                        NORTE
                    </button>
                </div>
            </div>
    
            <div class="col-md-2 centered btn-group mb-1" >
                <div class="d-flex row btn-group-anos ml-1 centered" data-toggle="buttons">
                    <!-- Os anos são adicionados nesse local -->
                </div>
            </div>

            <div class="col-md-1 centered btn-group " data-toggle="buttons">
                <button class="btn-sm  ml-1 bg-wx-original-escuro" onclick="pegaDeck()">Plotar carga</button>
            </div>
        </div>
    </div>
</nav>

<div id="modalLoading" class="modal">
    <div class="modal-content">
    <!-- Incluir a animação de loading do gif aqui -->
    <img src="https://raw.githubusercontent.com/joaoCalmon/files_gif/main/output-onlinegiftools.gif" alt="Loading" width="400" height="200"/>
    </div>
</div>

<div class="container mb-3">
    <h2 class="mt-2" style="text-align: center; height: 8px; margin-top: 3px; font-size: 20px;" id="tituloSubmercado"></h2>
    <canvas id="myChart" width="800" height="440">
        
        <!-- Adicione um elemento canvas para o gráfico -->
    </canvas>
</div>

{% endblock %}


{% block scripts %}

<!-- Importe seus novos JS aq -->
<script src="{{ url_for('static', filename='js/colors.js') }}"></script>
<script src="{{ url_for('static', filename='js/comparativo_carga_newave.js') }}"></script>

{% endblock %}