{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block title %}
	<title> WX Energy </title>
{% endblock %}


{% block content %} 

  <!-- <div style="width:75%;"> -->
<div class="container">


<!--     <iframe style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:100%;width:100%;position:absolute;top:0px;left:0px;right:0px;bottom:0px;border:none;" src="https://app.powerbi.com/view?r=eyJrIjoiOThjZGYyMjAtZTk5MC00Y2IwLWFmMjctZjVlODI3ZmEwZjc1IiwidCI6ImZjZjEzNDNhLWMyY2MtNDNjOS04OTY3LTNmMDFjMWI4ZjU1YSJ9" frameborder="0" allowFullScreen="true"></iframe> -->

  <iframe style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:100%;width:100%;position:absolute;top:0px;left:0px;right:0px;bottom:0px;border:none;" src="https://app.powerbi.com/view?r=eyJrIjoiM2RhNWE2YjItMjZiZC00M2Y3LWI1ZTgtMTJlMGYxYzhlNTExIiwidCI6ImUxOGZmMDk0LTMyMzctNGRmOC1iNWZmLTE5ZjNlOWMyNDg3MSJ9" frameborder="0" allowFullScreen="true"></iframe>

    
</div>



{% endblock %}


{% block scripts %}

 <script>
  
   // Executar ao abrir a pagina
   $(window).on('load', function(){

      // Pegar os parametros passados via url
      var queryString = window.location.search;
      queryString = queryString.replace("?", "");
      console.log(queryString);

      parametros = queryString.split("&");

      console.log(parametros);

    })



    $(window).on('ready', function(){

    })
 





</script>

{% endblock %}
