{% extends "base.html" %}

{% block head %}

    <!-- Importe aqui os css -->
    <link href="{{ url_for('static', filename='css/menu_lateral_esquerdo.css') }}" rel="stylesheet">
    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script> -->


{% endblock %}

{% block title %}
	<title> Geração eólicas </title>
{% endblock %}


{% block content %}
<div id='enaDiariaBacia' class="wrapper">

  <nav id="sidebar" class="bg-wx-original-claro active">

      <div class="sidebar-header">
          <h3>Menu</h3>
      </div>

      <div class="row ml-2 mr-2">
          <div class="form-group col-sm">
              <label for="semana-verificado">Adicionar Semana Verificada:</label>
              <input class="form-control" type="date" id="semana-verificado">
          </div>
      </div>

      <div class="row justify-content-md-center">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="checkbox_coff" onchange="comutar_coff()">
            <label class="form-check-label" for="flexCheckDefault">
                CONSTRAINED-OFF
            </label>
        </div>
      </div>

      <div class="row justify-content-md-center">
          <button type="button" id="btn_atualizar" class="btn btn-light btn-atualizar">
              <span>Atualizar</span>
          </button>

      </div>
      
    <div class="row ml-2 mr-2 mt-4">
        <div class="form-group col-sm">
            <label for="data-deck">Adicionar Deck </label>
            <input class="form-control" type="date" id="data-deck">
        </div>
    </div>

    <div class="row ml-2 mr-2 ">
        <div class="form-group col-sm">
            <label for="dia-semana">Adicionar Semana </label>
            <input class="form-control" type="date" id="dia-semana">
        </div>
    </div>


    <div class="row mb-3 justify-content-md-center">
        <button type="button" id="btn_add_previsao_dessem" class="btn btn-light btn-atualizar">
            <span>Add</span>
        </button>
    </div>

    <div class="row mt-5 justify-content-md-center">
        <button type="button" id="btn_limpar" class="btn btn-light btn-atualizar">
            <span>Limpar</span>
        </button>
    </div>


  </nav>

  <div id="content">

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">

              <button type="button" id="sidebarCollapse" class="btn bg-wx-original-claro">
                  <i class="fas fa-align-left"></i>
                  <span>Menu</span>
              </button>

              <button type="button" class="btn bg-wx-original-claro" id='btn_comutarLegenda'>ON/Off Legenda</button>

          </div>
      </nav>

      <div class="text-center" id='graphs_bacia_smap'>
      </div>

    <div class=" text-center">

        <div class="col-12 mt-5 col-sm-12 col-md-12 col-lg-11 center">
            <canvas id="chart_NORDESTE" height="120"></canvas>
       </div>

        <div class="col-12 mt-5 col-sm-12 col-md-12 col-lg-11 center">
             <canvas id="chart_SUL" height="120"></canvas>
        </div>


    </div>

  </div>
</div>

{% endblock %}


{% block scripts %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<!-- <script>

    var submercados = ['NORDESTE', 'SUL', 'NORTE'];
    var mostrar_legendas = true;
    var charts = [];
    var timeFormat = 'DD/MM/YYYY';
    var num_rodadas_dessem = 0;

    // Configuracoes para abortar todas as requisiçoes quando o usuario pedir para atualizar
    $.xhrPool = [];
    $.xhrPool.abortAll = function() {
        $(this).each(function(idx, jqXHR) {
            jqXHR.abort();
        });
        $(this).each(function(idx, jqXHR) {
            var index = $.inArray(jqXHR, $.xhrPool);
            if (index > -1) {
                $.xhrPool.splice(index, 1);
            }
        });
    };

    $.ajaxSetup({
        beforeSend: function(jqXHR) {
            $.xhrPool.push(jqXHR);
        },
        complete: function(jqXHR) {
            var index = $.inArray(jqXHR, $.xhrPool);
            if (index > -1) {
                $.xhrPool.splice(index, 1);
            }
        }
    });




    // Acoes que serão executadas apos o carregamento da pagina completo da pagina
    $(document).ready(function() {
        iniciar_listeners();

        parametros = window.location.search;
        urlParams = new URLSearchParams(parametros);

        data = moment()

        if(urlParams.get('data') != null){
            data = moment(urlParams.get('data'), "DD-MM-YYYY")
        }

        
        str_data = data.format("YYYY-MM-DD")
        document.getElementById("data-rodada").value = data.format("YYYY-MM-DD")
        document.getElementById("data-rodada-dessem").value = data.add(-1, 'days').format("YYYY-MM-DD")

        for (sub_id in submercados){
            sub = submercados[sub_id]
            var ctx = document.getElementById("chart_"+sub).getContext("2d");
            ctx.canvas.width = $(window).width();
            ctx.canvas.height = $(window).height()*.8;
            charts[sub] = new Chart(ctx, {
                // type: 'bar',
                options: {
                    title: {
                      display: true,
                      text: sub,
                    },
                    legend: {
                      display: mostrar_legendas,
                      position: 'bottom'
                    },
                    tooltips: {
                      mode: 'x'
                    },

                    scales: {
                        xAxes: [{
                            type: 'time',
                            time: {
                                unit: 'week',
                                parser: timeFormat,
                            },
                            scaleLabel: {
                                display: true,
                                labelString: 'Data'
                            }
                        }],
                        yAxes: [
                        {
                            id: 'eixo_enas',
                            type: 'linear',
                            position: 'left',
                            scaleLabel: {
                                display: true,
                                labelString: 'MW'
                            }
                        }
                        , 
                        // {
                        //     id: 'eixo_prec',
                        //     type: 'linear',
                        //     position: 'right',
                        //     ticks: {
                        //       reverse: true,
                        //       max: 100,
                        //       min: 0
                        //         },
                        //     scaleLabel: {
                        //         display: true,
                        //         labelString: 'Precipitação'
                        //         },
                        //     gridLines: {
                        //         color: "rgba(0, 0, 0, 0)",
                        //     }
                        // }
                        ]
                    },
                    animation: {
                        duration: 0
                    },
                    maintainAspectRatio: false,
                    responsive: true
                }
            })
        }

    });

  // Crie suas funções aqui

  function limpar_graficos(){
    for (let sub_id in submercados){
            let sub = submercados[sub_id];
            charts[sub].data.datasets = [];
            charts[sub].update();
            num_rodadas_dessem = 0;
    }
  }

  function iniciar_listeners(){
    // Iniciar listeners
    $('#sidebarCollapse').on('click', function () {
        $('#sidebar').toggleClass('active');
    });

    $('#btn_atualizar').on('click', function () {
        data = moment(document.getElementById("data-rodada").value, "YYYY-MM-DD")
        limpar_graficos()
        get_geracao_eolicas(data);
        get_previsao_dessem(data);
    } );

    $('#btn_add_previsao_dessem').on('click', function () {
        data = moment(document.getElementById("data-rodada-dessem").value, "YYYY-MM-DD")
        get_previsao_dessem(data)
    } );

    $('#btn_limpar').on('click', function () {
        limpar_graficos()
    } );
    
  }

  var resp = null;
  function get_geracao_eolicas(data){
    $.ajax({
        url: "/API/get/geracao_eolica_observada_prevista_dc",
        type : 'get',
        data: {
            'data_referente': data.format("YYYY-MM-DD"),
        },
        success: function(resposta){
            for (let sub in resposta['decomp']['horaria']){
                eolica_horaria_dc = []
                eolica_horaria_verif = []
                eolica_diaria_verif = []
                eolica_diaria_dc = []
                eolica_semanal_dc = []

                // Horarias
                for (let item of resposta['decomp']['horaria'][sub]) {
                    eolica_horaria_dc.push({t:new Date(item[0]), y:item[1].toFixed(2)})
                }

                for (let item of resposta['verificada']['horaria'][sub]) {
                    eolica_horaria_verif.push({t:new Date(item[0]), y:item[1].toFixed(2)})
                }

                // diarias
                for (let item of resposta['decomp']['diaria'][sub]) {
                    eolica_diaria_dc.push({t:new Date(item[0]), y:item[1].toFixed(2)})
                }

                for (let item of resposta['verificada']['diaria'][sub]) {
                    eolica_diaria_verif.push({t:new Date(item[0]), y:item[1].toFixed(2)})
                }

                // semanal
                for (let item of resposta['decomp']['semanal'][sub]) {
                    eolica_semanal_dc.push({t:new Date(item[0]), y:item[1].toFixed(2)})
                }

                // Decomp
                newDataset = {
                            label: 'DC-s',
                            type: 'line',
                            backgroundColor: "rgba(0,0,255,1.0)",
                            borderColor: "rgba(0,0,255,1.0)",
                            fill: false,
                            data: eolica_semanal_dc,
                            steppedLine: 'true',
                            pointRadius: 0.5,
                            borderWidth: 1,
                            borderDash: [10,5],
                        }
                charts[sub].data.datasets.push(newDataset);

                newDataset = {
                            label: 'DC-h',
                            type: 'line',
                            backgroundColor: "rgba(0,0,255,1.0)",
                            borderColor: "rgba(0,0,255,1.0)",
                            fill: false,
                            data: eolica_horaria_dc,
                            steppedLine: 'true',
                            pointRadius: 0.5,
                            borderWidth: 1,
                            hidden: true,
                        }
                charts[sub].data.datasets.push(newDataset);

                
                newDataset = {
                            label: 'DC-d',
                            type: 'line',
                            backgroundColor: "rgba(0,0,255,1.0)",
                            borderColor: "rgba(0,0,255,1.0)",
                            fill: false,
                            data: eolica_diaria_dc,
                            steppedLine: 'true',
                            borderDash: [10,5],
                            hidden: true,
                            borderWidth: 1,
                        }
                charts[sub].data.datasets.push(newDataset);

                // Verificada
                newDataset = {
                            label: 'Ver-h',
                            type: 'line',
                            backgroundColor: "rgba(255,0,255,1.0)",
                            borderColor: "rgba(255,0,255,1.0)",
                            fill: false,
                            data: eolica_horaria_verif,
                            // steppedLine: 'true',
                            pointRadius: 0.5,
                            borderWidth: 2,
                        }
                charts[sub].data.datasets.push(newDataset);

                newDataset = {
                            label: 'Ver-d',
                            type: 'line',
                            backgroundColor: "rgba(255,0,255,1.0)",
                            borderColor: "rgba(255,0,255,1.0)",
                            fill: false,
                            data: eolica_diaria_verif,
                            steppedLine: 'true',
                            borderDash: [10,5],
                            hidden: true,
                            borderWidth: 1,
                        }
                charts[sub].data.datasets.push(newDataset);

                charts[sub].update();
            }
        }
    })
    .done(function(resposta){
        resp = resposta;
        console.log('Finalizado com sucesso!')
    })
  }

  
  function get_previsao_dessem(data){
    $.ajax({
        url: "/API/get/geracao_eolica_prevista_dessem",
        type : 'get',
        data: {
            'data_referente': data.format("YYYY-MM-DD"),
        },
        success: function(resposta){
            
            num_rodadas_dessem = num_rodadas_dessem+1
            for (let sub in resposta['horaria']){
                eolica_horaria_ds = []
                eolica_diaria_ds = []
                eolica_semanal_ds = []

                // Horarias
                for (let item of resposta['horaria'][sub]) {
                    eolica_horaria_ds.push({t:new Date(item[0]), y:item[1].toFixed(2)})
                }

                // Horarias
                for (let item of resposta['diaria'][sub]) {
                    eolica_diaria_ds.push({t:new Date(item[0]), y:item[1].toFixed(2)})
                }

                // Horarias
                for (let item of resposta['semanal'][sub]) {
                    eolica_semanal_ds.push({t:new Date(item[0]), y:item[1].toFixed(2)})
                }

                let alpha = 1-num_rodadas_dessem*0.15
                let cor_nova_curva_dessem = `rgba(46,139,87,${alpha})`
                newDataset = {
                            label: `DS-h (${data.format("DD/MM")})`,
                            type: 'line',
                            backgroundColor: cor_nova_curva_dessem,
                            borderColor: cor_nova_curva_dessem,
                            fill: false,
                            data: eolica_horaria_ds,
                            // steppedLine: 'true',
                            // borderDash: [10,5],
                            // hidden: true,
                            borderWidth: 1,
                            pointRadius: 0.5,
                        }
                charts[sub].data.datasets.push(newDataset);

                newDataset = {
                            label: `DS-d (${data.format("DD/MM")})`,
                            type: 'line',
                            backgroundColor: cor_nova_curva_dessem,
                            borderColor: cor_nova_curva_dessem,
                            fill: false,
                            data: eolica_diaria_ds,
                            steppedLine: 'true',
                            borderDash: [10,5],
                            hidden: true,
                            borderWidth: 1,
                        }
                charts[sub].data.datasets.push(newDataset);

                newDataset = {
                            label: `DS-s (${data.format("DD/MM")})`,
                            type: 'line',
                            backgroundColor: cor_nova_curva_dessem,
                            borderColor: cor_nova_curva_dessem,
                            fill: false,
                            data: eolica_semanal_ds,
                            steppedLine: 'true',
                            borderDash: [10,5],
                            // hidden: true,
                            borderWidth: 1,
                            pointRadius: 0.5,
                        }
                charts[sub].data.datasets.push(newDataset);

                charts[sub].update();

            }

        }}).done(function(resposta){
            resp = resposta;
            console.log('Finalizado com sucesso!')
        })
    }



</script>
 -->
<!-- Importe seus novos JS aq -->
<script src="{{ url_for('static', filename='js/geracao_eolica.js') }}"></script>
<script src="{{ url_for('static', filename='js/colors.js') }}"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0"></script> -->


{% endblock %}
