{% extends "base.html" %}

{% block head %}

    <!-- Importe aqui os css -->
    <link href="{{ url_for('static', filename='css/menu_lateral_esquerdo.css') }}" rel="stylesheet">
    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script> -->


{% endblock %}

{% block title %}
	<title> Geração eólicas </title>
{% endblock %}


{% block content %}
<div id='enaDiariaBacia' class="wrapper">

  <nav id="sidebar" class="bg-wx-original-claro active">

      <div class="sidebar-header">
          <h3>Menu</h3>
      </div>

      <div class="row ml-2 mr-2">
          <div class="form-group col-sm">
              <label for="semana-verificado">Adicionar Semana Verificada:</label>
              <input class="form-control" type="date" id="semana-verificado">
          </div>
      </div>

      <div class="row justify-content-md-center">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="checkbox_coff" onchange="comutar_coff()">
            <label class="form-check-label" for="flexCheckDefault">
                CONSTRAINED-OFF
            </label>
        </div>
      </div>

      <div class="row justify-content-md-center">
          <button type="button" id="btn_atualizar" class="btn btn-light btn-atualizar">
              <span>Atualizar</span>
          </button>

      </div>
      
    <div class="row ml-2 mr-2 mt-4">
        <div class="form-group col-sm">
            <label for="data-deck">Adicionar Deck </label>
            <input class="form-control" type="date" id="data-deck">
        </div>
    </div>

    <div class="row ml-2 mr-2 ">
        <div class="form-group col-sm">
            <label for="dia-semana">Adicionar Semana </label>
            <input class="form-control" type="date" id="dia-semana">
        </div>
    </div>


    <div class="row mb-3 justify-content-md-center">
        <button type="button" id="btn_add_previsao_dessem" class="btn btn-light btn-atualizar">
            <span>Add</span>
        </button>
    </div>

    <div class="row mt-5 justify-content-md-center">
        <button type="button" id="btn_limpar" class="btn btn-light btn-atualizar">
            <span>Limpar</span>
        </button>
    </div>


  </nav>

  <div id="content">

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">

              <button type="button" id="sidebarCollapse" class="btn bg-wx-original-claro">
                  <i class="fas fa-align-left"></i>
                  <span>Menu</span>
              </button>

              <button type="button" class="btn bg-wx-original-claro" id='btn_comutarLegenda'>ON/Off Legenda</button>

          </div>
      </nav>

      <div class="text-center" id='graphs_bacia_smap'>
      </div>

    <div class=" text-center">

        <div class="col-12 mt-5 col-sm-12 col-md-12 col-lg-11 center">
            <canvas id="chart_NORDESTE" height="120"></canvas>
       </div>

        <div class="col-12 mt-5 col-sm-12 col-md-12 col-lg-11 center">
             <canvas id="chart_SUL" height="120"></canvas>
        </div>


    </div>

  </div>
</div>

{% endblock %}


{% block scripts %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<!-- Importe seus novos JS aq -->
<script src="{{ url_for('static', filename='js/geracao_eolica.js') }}"></script>
<script src="{{ url_for('static', filename='js/colors.js') }}"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0"></script> -->


{% endblock %}
