{% extends "base.html" %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/pagina_menu_principal.css') }}"
/>
{% endblock %} {% block title %}
<title>Raizen</title>
{% endblock %} {% block content %}

<!-- Page Content -->

<div class="container">
  <div class="row mt-4">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="row">
        <div class="col-6 item-menu my-1">
          <a href="https://tradingenergiarz.com/clima/" target="_blank">
            <button
              type="button"
              class="btn p-3 btn-block text-center background-blue"
            >
              METEOROLOGIA
            </button>
          </a>
        </div>
        <div class="col-6 item-menu my-1">
          <a href="/middle/rdh_submercados">
            <button
              type="button"
              class="btn p-3 btn-block text-center background-blue"
            >
              MONITOR. HIDROLÓGICO
            </button>
          </a>
        </div>
        <div class="col-6 item-menu my-1">
          <a href="/middle/curvas-anuais-acomph">
            <button
              type="button"
              class="btn p-3 btn-block text-center background-blue"
            >
              ENA<br />ACOMPH
            </button>
          </a>
        </div>
        <div class="col-6 item-menu my-1">
          <a href="/middle/curvas-anuais-armazenamento">
            <button
              type="button"
              class="btn p-3 btn-block text-center background-blue"
            >
              EAR<br />SUBMERCADO
            </button>
          </a>
        </div>
        <div class="col-6 item-menu my-1">
          <a href="/middle/ena-mlt">
            <button
              type="button"
              class="btn p-3 btn-block text-center background-blue"
            >
              ENA<br />MLT
            </button>
          </a>
        </div>
        <div class="col-6 item-menu my-1">
          <a href="/middle/mapa-interativo">
            <button
              type="button"
              class="btn p-3 btn-block text-center background-blue"
            >
              MAPAS<br />INTERATIVOS
            </button>
          </a>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <div class="row">
        <div class="col-6 item-menu my-1">
          <a href="/middle/carga">
            <button
              type="button"
              class="btn p-3 btn-block text-center background-orange"
            >
              CARGA HORARIA
            </button>
          </a>
        </div>
        <div class="col-6 item-menu my-1">
          <a href="/middle/rdh">
            <button
              type="button"
              class="btn p-3 btn-block text-center background-orange"
            >
              RDH
            </button>
          </a>
        </div>
        <div class="col-6 item-menu my-1">
          <a href="/middle/estudos-dessem">
            <button
              type="button"
              class="btn p-3 btn-block text-center background-orange"
            >
              BALANÇO DESSEM
            </button>
          </a>
        </div>
        <div class="col-6 item-menu my-1">
          <a href="/middle/dash_historico_decomp">
            <button
              type="button"
              class="btn p-3 btn-block text-center background-orange"
            >
              HISTORICO DECOMP
            </button>
          </a>
        </div>
        <div class="col-6 item-menu my-1">
          <a href="/middle/carga-dados-abertos">
            <button
              type="button"
              class="btn p-3 btn-block text-center background-orange"
            >
              CARGA<br />DADOS ABERTOS
            </button>
          </a>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <div class="row">
        <div class="col-6 item-menu my-1">
          <a href="/middle/negociacoes-bbce">
            <button
              type="button"
              class="btn p-3 btn-block text-center background-green"
            >
              DASHBOARD<br />NEGOCIAÇÕES BBCE
            </button>
          </a>
        </div>
        <div class="col-6 item-menu my-1">
          <a href="/middle/resumo-negociacoes-bbce">
            <button
              type="button"
              class="btn p-3 btn-block text-center background-green"
            >
              RESUMO<br />NEGOCIAÇÕES BBCE
            </button>
          </a>
        </div>
        <div class="col-6 item-menu my-1">
          <a href="/middle/geracao_eolica">
            <button
              type="button"
              class="btn p-3 btn-block text-center background-grey"
            >
              GERAÇÂO EÓLICA
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Page Content -->
{% endblock %} {% block scripts %} {% endblock %}
