{% extends "base.html" %} {% block head %} {% endblock %} {% block title %}
<title>WX Energy</title>
{% endblock %} {% block content %}

<div class="container">
  <div class="dropdown">
    <button
      class="btn bg-wx-original-claro dropdown-toggle mx-1 mt-3"
      type="button"
      id="modelsDropdown"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Modelo
    </button>
    <div
      id="modelsDropdown-menu"
      class="dropdown-menu"
      aria-labelledby="dropdownMenuButton"
    ></div>
  </div>

  <div class="table-responsive" id="tableModels"></div>
</div>

<!-- Page Content -->
{% endblock %} {% block scripts %}

<script>
  $(window).on("load", function () {
    // configure the requesto to be sync
    jQuery.ajaxSetup({ async: false });

    $.get("/middle/API/getprevmodels", function (data) {
      models = Object.keys(data);
      console.log(models);

      dropDownMenu = document.getElementById("modelsDropdown-menu");
      tableModels = document.getElementById("tableModels");

      for (i = 0; i < models.length; i++) {
        // console.log(models[i])
        a = document.createElement("a");
        a.classList.add("dropdown-item");
        a.href = "#";
        a.innerHTML = models[i];
        dropDownMenu.appendChild(a);
        table = document.createElement("table");
        table.setAttribute("hidden", "true");
        table.classList.add("table", "table-bordered", "table-models");
        table.id = models[i];
        tableModels.appendChild(table);

        row = table.insertRow(-1);

        cell = row.insertCell(-1);
        cell.classList.add("table-secondary");
        cell.innerHTML = "Bacia";
        row.appendChild(cell);
        cell = row.insertCell(-1);
        cell.classList.add("table-secondary");
        cell.innerHTML = "Data";
        row.appendChild(cell);
        cell = row.insertCell(-1);
        cell.classList.add("table-secondary");
        cell.innerHTML = "Rodada";
        row.appendChild(cell);
        cell = row.insertCell(-1);
        cell.classList.add("table-secondary");
        cell.innerHTML = "Semana 1";
        row.appendChild(cell);
        cell = row.insertCell(-1);
        cell.classList.add("table-secondary");
        cell.innerHTML = "Semana 2";
        row.appendChild(cell);
        cell = row.insertCell(-1);
        cell.classList.add("table-secondary");
        cell.innerHTML = "Semana 3";
        row.appendChild(cell);
        cell = row.insertCell(-1);
        cell.classList.add("table-secondary");
        cell.innerHTML = "Total";
        row.appendChild(cell);

        bacias = Object.keys(data[models[i]]);

        for (j = 0; j < bacias.length; j++) {
          datas = Object.keys(data[models[i]][bacias[j]]).sort().reverse();

          for (k = 0; k < datas.length; k++) {
            rodadas = Object.keys(data[models[i]][bacias[j]][datas[k]])
              .sort()
              .reverse();

            for (l = 0; l < rodadas.length; l++) {
              row = table.insertRow(-1);
              baciaCell = row.insertCell(-1);
              baciaCell.innerHTML = bacias[j];

              dataCell = row.insertCell(-1);
              dataCell.innerHTML = datas[k];

              rodadaCell = row.insertCell(-1);
              rodadaCell.innerHTML = rodadas[l];
              semanas = Object.keys(
                data[models[i]][bacias[j]][datas[k]][rodadas[l]]
              );

              for (m = 0; m < semanas.length; m++) {
                prevCell = row.insertCell(-1);
                prev =
                  data[models[i]][bacias[j]][datas[k]][rodadas[l]][semanas[m]];
                prevCell.innerHTML = prev;

                if (Number(prev) < 5) {
                  prevCell.style.backgroundColor = "rgb(180, 240, 250)";
                } else if (5 <= Number(prev) && Number(prev) < 20) {
                  prevCell.style.backgroundColor = "rgb(20, 100, 210)";
                } else if (20 <= Number(prev) && Number(prev) < 40) {
                  prevCell.style.backgroundColor = "rgb(30, 180, 30)";
                } else if (40 <= Number(prev) && Number(prev) < 75) {
                  prevCell.style.backgroundColor = "rgb(255, 232, 120)";
                } else if (75 <= Number(prev) && Number(prev) < 120) {
                  prevCell.style.backgroundColor = "rgb(255, 192, 60)";
                } else if (120 <= Number(prev) && Number(prev) < 200) {
                  prevCell.style.backgroundColor = "rgb(255, 20, 0)";
                } else if (200 <= Number(prev)) {
                  prevCell.style.backgroundColor = "rgb(251, 94, 107)";
                }
                //prevCell.style.color = "white"
                prevCell.style.fontWeight = "650";
                row.appendChild(prevCell);
              }
            }
          }
        }

        let headerCell = null;
        let headerCell2 = null;

        for (let row of table.rows) {
          const firstCell = row.cells[0];
          const secondCell = row.cells[1];

          if (
            headerCell === null ||
            firstCell.innerText !== headerCell.innerText
          ) {
            headerCell = firstCell;
          } else {
            headerCell.rowSpan++;
            firstCell.remove();
          }

          if (
            headerCell2 === null ||
            secondCell.innerText !== headerCell2.innerText
          ) {
            headerCell2 = secondCell;
          } else {
            headerCell2.rowSpan++;
            secondCell.remove();
          }
        }
      }
    });
  });

  $(document).ready(function () {
    var tableName = $("#modelsDropdown-menu a")[0].innerText;
    var table = document.getElementById(tableName);
    table.hidden = false;
    $("#modelsDropdown")[0].innerText = tableName;
  });

  $(function () {
    $("#modelsDropdown-menu").on("click", "a", function (event) {
      tableName = event.target.text;
      var table = document.getElementById(tableName);
      $("table.table-models").each(function (index) {
        $(this)[0].hidden = true;
      });
      table.hidden = false;
      $("#modelsDropdown")[0].innerText = event.target.text;
    });
  });
</script>

{% endblock %}
