modules:
  http_health:
    prober: http
    timeout: 5s
    http:
      valid_http_versions: ["HTTP/1.1", "HTTP/2"]
      method: GET
      no_follow_redirects: false
      fail_if_not_ssl: false
      tls_config:
        insecure_skip_verify: true
